{namespace ws=WapplerSystems\WsFlexslider\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<li>
	<div class="slidercontent wsflexslider-{item.styleclass}">
		<f:if condition="{item.image}">
		  <f:if condition="{item.image.originalResource.link}">
		   	<f:then>
				<v:link.typolink configuration="{parameter:item.image.originalResource.link}"><img src="<f:uri.image image="{item.image}" />" title="{item.image.orignalResource.title}" alt="{item.image.originalResource.alternative}" /></v:link.typolink>
		  	 </f:then>
			<f:else>
				<img src="<f:uri.image image="{item.image}" />" title="{item.image.orignalResource.title}" alt="{item.image.originalResource.alternative}" />
			</f:else>
		  </f:if> 
		</f:if>
		<f:if condition="{settings.showcaption}">
		 <v:if stack="{0:item.title,1:'AND',2:item.description}">
		  <f:then>
			<div class="caption-wrapper caption-align-{item.textposition}">
				<div class="caption-text">
				    <f:if condition="{settings.showtitle}">
				    	<p class="caption-title">{item.title}</p>					    		        
				    </f:if>
				    <f:if condition="{settings.showdescription}">
	                    <div class="caption-body"><f:format.html>{item.description}</f:format.html></div>
				    </f:if>
				</div>
				<f:if condition="{item.link}">
					<div class="caption-link">
					<ws:DynLink arguments="{link: item.link}">
						<f:translate key="more">More</f:translate>
					</ws:DynLink>
					</div>
				</f:if>
			</div>
			</f:then>
			<f:else>
				<v:if stack="{0:item.title, 1:'AND',2:item.description,3:'==',4:0}">
				  <f:then>
					    <f:if condition="{settings.showtitle}">
				  <div class="caption-wrapper caption-align-{item.textposition}">
					<div class="caption-text">
						      <p class="caption-title">{item.title}</p>
					</div>
					<f:if condition="{item.link}">
						<div class="caption-link">
						<ws:DynLink arguments="{link: item.link}">
							<f:translate key="more">More</f:translate>
						</ws:DynLink>
						</div>
					</f:if>
				  </div>
					    </f:if>
				  </f:then>
				  <f:else>
				  	<v:if stack="{0:item.title,1:'==',2:0,3:'AND',4:item.description}">
					  <f:if condition="{settings.showdescription}">
					  	<div class="caption-wrapper caption-align-{item.textposition}">
						  <div class="caption-text">
				                    
				                        <div class="caption-body"><f:format.html>{item.description}</f:format.html></div>
				                   		        
							</div>
							<f:if condition="{item.link}">
								<div class="caption-link">
								<ws:DynLink arguments="{link: item.link}">
									<f:translate key="more">More</f:translate>
								</ws:DynLink>
								</div>
							</f:if>
						  </div>
					  </f:if>
					</v:if>
				  </f:else>
			    </v:if>
			</f:else>
		  </v:if>
		  
		  
		</f:if>
	</div>
</li>